# FIREBASE
VITE_FIREBASE_API_KEY="add yours"
VITE_FIREBASE_AUTH_TOKEN="add yours"
VITE_FIREBASE_PROJECT_ID="add yours"
VITE_FIREBASE_STORAGE_BUCKET="add yours"
VITE_FIREBASE_MESSAGING_SENDER_ID="add yours"
VITE_FIREBASE_APP_ID="add yours"
VITE_FIREBASE_MEARSUREMENT_ID="add yours"
